.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f9fafa;
}
body {
  font-family: Liter;
}
.display-1 {
  font-family: 'Liter', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Liter', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Liter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Liter', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Liter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffa600 !important;
  border-color: #ffa600 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffb833 !important;
  border-color: #ffb833 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ffb833 !important;
  border-color: #ffb833 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffa600;
  color: #ffa600;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a86e00 !important;
  background-color: transparent !important;
  border-color: #a86e00 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa600 !important;
  border-color: #ffa600 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffa600 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #996400 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Liter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Liter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffa600 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-v1Y5ZNMbxJ .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 992px) {
  .cid-v1Y5ZNMbxJ .navbar-brand {
    width: fit-content;
    margin: auto !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .cid-v1Y5ZNMbxJ .wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-brand {
  padding: 1rem !important;
}
.cid-v1Y5ZNMbxJ .navbar-logo {
  margin: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar-brand {
  background-color: #232323;
  display: flex;
  margin-bottom: -3rem;
  transform: scale(1.2);
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-v1Y5ZNMbxJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-v1Y5ZNMbxJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-v1Y5ZNMbxJ .wrapper {
  display: flex;
  align-items: center;
  min-width: 43.5%;
  justify-content: flex-end;
}
.cid-v1Y5ZNMbxJ .navbar-nav {
  min-width: 45%;
}
.cid-v1Y5ZNMbxJ .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-v1Y5ZNMbxJ .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-v1Y5ZNMbxJ .dropdown-item {
  color: #a6a99c !important;
}
.cid-v1Y5ZNMbxJ .dropdown-item:hover {
  color: #a6a99c !important;
}
.cid-v1Y5ZNMbxJ .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-v1Y5ZNMbxJ .nav-link:hover {
  color: #232323 !important;
}
.cid-v1Y5ZNMbxJ .nav-link:hover:before {
  opacity: 1;
}
.cid-v1Y5ZNMbxJ .nav-link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 12px;
  transition: all 0.3s;
  opacity: 0;
  background: #232323;
}
.cid-v1Y5ZNMbxJ .btn-white {
  color: #000000 !important;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-v1Y5ZNMbxJ .container {
  display: flex;
  margin: auto;
}
.cid-v1Y5ZNMbxJ .navbar.opened {
  background: #ffffff !important;
}
.cid-v1Y5ZNMbxJ .nav-item:focus,
.cid-v1Y5ZNMbxJ .nav-link:focus {
  outline: none;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-v1Y5ZNMbxJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-v1Y5ZNMbxJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-v1Y5ZNMbxJ .navbar.opened {
  transition: all 0.3s;
}
.cid-v1Y5ZNMbxJ .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-v1Y5ZNMbxJ .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-v1Y5ZNMbxJ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-v1Y5ZNMbxJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-v1Y5ZNMbxJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-v1Y5ZNMbxJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .icons-menu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-v1Y5ZNMbxJ .dropdown-item.active,
.cid-v1Y5ZNMbxJ .dropdown-item:active {
  background-color: transparent;
}
.cid-v1Y5ZNMbxJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-v1Y5ZNMbxJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-v1Y5ZNMbxJ ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-v1Y5ZNMbxJ .navbar-buttons {
  text-align: center;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-v1Y5ZNMbxJ a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-v1Y5ZNMbxJ .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-v1Y5ZNMbxJ .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-v1Y5ZNMbxJ .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-v1Y5ZNMbxJ .navbar {
    height: 77px;
  }
  .cid-v1Y5ZNMbxJ .navbar.opened {
    height: auto;
  }
  .cid-v1Y5ZNMbxJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-v1Y20Ij9xR {
  display: flex;
  padding-top: 24rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/hd-vector-tractor.png-1536x1024.png");
}
.cid-v1Y20Ij9xR .mbr-overlay {
  background-color: #000000;
  opacity: 0.1;
}
@media (min-width: 768px) {
  .cid-v1Y20Ij9xR {
    align-items: flex-end;
  }
  .cid-v1Y20Ij9xR .row {
    justify-content: center;
  }
  .cid-v1Y20Ij9xR .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-v1Y20Ij9xR .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-v1Y20Ij9xR {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-v1Y20Ij9xR .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-v1Y20Ij9xR .content-wrap {
    width: 100%;
  }
}
.cid-v1Y20Ij9xR .mbr-section-title,
.cid-v1Y20Ij9xR .mbr-section-subtitle {
  text-align: center;
}
.cid-v1Y20Ij9xR .mbr-text,
.cid-v1Y20Ij9xR .mbr-section-btn {
  text-align: center;
}
.cid-v1Y20Ij9xR .mbr-section-title {
  color: #ffffff;
}
.cid-v1Y20Ilqd5 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #edefeb;
}
.cid-v1Y20Ilqd5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v1Y20Ilqd5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v1Y20Ilqd5 .mbr-text {
  color: #000000;
}
.cid-v1Y20Ilqd5 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-v1Y20Ilqd5 .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-v1Y20Ilqd5 .main-button {
    margin-bottom: 2rem;
  }
}
.cid-v1Y20Ilqd5 .mbr-section-subtitle,
.cid-v1Y20Ilqd5 .main-button {
  color: #000000;
}
.cid-v1Y20IrIGF {
  background-image: url("../../../assets/images/hd-widescreen-tracto.png-1536x1024.png");
  overflow: hidden;
}
.cid-v1Y20IrlXp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-v1Y20IrlXp .item:focus,
.cid-v1Y20IrlXp span:focus {
  outline: none;
}
.cid-v1Y20IrlXp .item {
  cursor: pointer;
}
.cid-v1Y20IrlXp .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-v1Y20IrlXp .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-v1Y20IrlXp .grid-container-1,
.cid-v1Y20IrlXp .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-v1Y20IrlXp .grid-container-1,
  .cid-v1Y20IrlXp .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-v1Y20IrlXp .mbr-section-title {
  color: #ffffff;
}
.cid-v1Y20IrlXp .mbr-text,
.cid-v1Y20IrlXp .mbr-section-btn {
  color: #000000;
}
.cid-v1Y20IrlXp .content-head {
  max-width: 800px;
}
.cid-v1Y20IrlXp .container,
.cid-v1Y20IrlXp .container-fluid {
  overflow: hidden;
}
.cid-v1Y20IrlXp .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-v1Y20IrlXp .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-v1Y20IrlXp .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-v1Y20IrlXp .grid-item img {
    min-width: 35vw;
  }
}
.cid-v1Y20IrlXp .grid-container-1,
.cid-v1Y20IrlXp .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-v1Y20IrlXp .grid-container-1 {
  align-items: flex-end;
}
.cid-v1Y20IrlXp .grid-container-2 {
  align-items: flex-start;
}
.cid-v1Y20Isf9y {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-v1Y20Isf9y .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-v1Y20Isf9y form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-v1Y20Isf9y form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-v1Y20Isf9y form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-v1Y20Isf9y .content-head {
  max-width: 800px;
}
.cid-v1ZCyiUUAL {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-v1ZCyiUUAL .row {
  flex-direction: row-reverse;
}
.cid-v1ZCyiUUAL img {
  display: inline;
}
.cid-v1ZCyiUUAL .si {
  width: 100%;
}
.cid-v1ZCyiUUAL .si img {
  width: auto;
}
.cid-v1ZCyiUUAL .text {
  color: #ffffff;
}
.cid-v1ZCyiUUAL .text,
.cid-v1ZCyiUUAL .si {
  color: #ffffff;
  text-align: center;
}
.cid-v1ZCyiUUAL .copyright {
  color: #000000;
}
.cid-v1ZCyiUUAL .list {
  letter-spacing: .2em;
  list-style: none;
  padding-left: 0;
  color: #edefeb;
}
@media (max-width: 991px) {
  .cid-v1ZCyiUUAL .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-v1ZCyiUUAL .list {
    margin-bottom: 0rem;
  }
}
.cid-v1ZCyiUUAL .list li {
  margin-bottom: .5rem;
}
.cid-v1ZCyiUUAL .mbr-section-title {
  color: #ffffff;
}
@media (max-width: 758px) {
  .cid-v1ZCyiUUAL .logo {
    margin-top: 2rem;
  }
}
.cid-v1ZCyiUUAL .mbr-section-subtitle {
  color: #ffffff;
}
.cid-v1Y5ZNMbxJ .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 992px) {
  .cid-v1Y5ZNMbxJ .navbar-brand {
    width: fit-content;
    margin: auto !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .cid-v1Y5ZNMbxJ .wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-brand {
  padding: 1rem !important;
}
.cid-v1Y5ZNMbxJ .navbar-logo {
  margin: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar-brand {
  background-color: #232323;
  display: flex;
  margin-bottom: -3rem;
  transform: scale(1.2);
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-v1Y5ZNMbxJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-v1Y5ZNMbxJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-v1Y5ZNMbxJ .wrapper {
  display: flex;
  align-items: center;
  min-width: 43.5%;
  justify-content: flex-end;
}
.cid-v1Y5ZNMbxJ .navbar-nav {
  min-width: 45%;
}
.cid-v1Y5ZNMbxJ .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-v1Y5ZNMbxJ .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-v1Y5ZNMbxJ .dropdown-item {
  color: #a6a99c !important;
}
.cid-v1Y5ZNMbxJ .dropdown-item:hover {
  color: #a6a99c !important;
}
.cid-v1Y5ZNMbxJ .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-v1Y5ZNMbxJ .nav-link:hover {
  color: #232323 !important;
}
.cid-v1Y5ZNMbxJ .nav-link:hover:before {
  opacity: 1;
}
.cid-v1Y5ZNMbxJ .nav-link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 12px;
  transition: all 0.3s;
  opacity: 0;
  background: #232323;
}
.cid-v1Y5ZNMbxJ .btn-white {
  color: #000000 !important;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-v1Y5ZNMbxJ .container {
  display: flex;
  margin: auto;
}
.cid-v1Y5ZNMbxJ .navbar.opened {
  background: #ffffff !important;
}
.cid-v1Y5ZNMbxJ .nav-item:focus,
.cid-v1Y5ZNMbxJ .nav-link:focus {
  outline: none;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-v1Y5ZNMbxJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-v1Y5ZNMbxJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-v1Y5ZNMbxJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-v1Y5ZNMbxJ .navbar.opened {
  transition: all 0.3s;
}
.cid-v1Y5ZNMbxJ .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-v1Y5ZNMbxJ .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-v1Y5ZNMbxJ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-v1Y5ZNMbxJ .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-v1Y5ZNMbxJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-v1Y5ZNMbxJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-v1Y5ZNMbxJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-v1Y5ZNMbxJ .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-v1Y5ZNMbxJ .navbar .icons-menu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-v1Y5ZNMbxJ .dropdown-item.active,
.cid-v1Y5ZNMbxJ .dropdown-item:active {
  background-color: transparent;
}
.cid-v1Y5ZNMbxJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-v1Y5ZNMbxJ .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-v1Y5ZNMbxJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-v1Y5ZNMbxJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-v1Y5ZNMbxJ ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-v1Y5ZNMbxJ .navbar-buttons {
  text-align: center;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-v1Y5ZNMbxJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-v1Y5ZNMbxJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v1Y5ZNMbxJ .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-v1Y5ZNMbxJ a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-v1Y5ZNMbxJ .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-v1Y5ZNMbxJ .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-v1Y5ZNMbxJ .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-v1Y5ZNMbxJ .navbar {
    height: 77px;
  }
  .cid-v1Y5ZNMbxJ .navbar.opened {
    height: auto;
  }
  .cid-v1Y5ZNMbxJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-veNJACg7rT {
  padding-top: 12rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/copilot-20251215-185615.png-1024x1536.png");
  overflow: hidden;
}
.cid-veNJACg7rT .mbr-fallback-image.disabled {
  display: none;
}
.cid-veNJACg7rT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-veNJACg7rT .gradient-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #000000 -40%, transparent 50%, transparent 50%, #000000 100%);
}
.cid-veNJACg7rT .title-wrapper {
  position: relative;
  z-index: 1;
}
.cid-veNJACg7rT .title-wrapper .mbr-section-title {
  margin-bottom: 25px;
}
.cid-veNJACg7rT .title-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-veNJACg7rT .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-veNJACg7rT .title-wrapper .mbr-section-btn {
  margin-top: 15px;
}
.cid-veNJACg7rT .mbr-section-title {
  color: #ffffff;
}
.cid-veNJACg7rT .mbr-text,
.cid-veNJACg7rT .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-veNJACg7rT .mbr-section-btn,
.cid-veNJACg7rT .mbr-section-title {
  text-align: center;
}
#custom-html-k {
  /* Type valid CSS here */
}
.cid-v1ZCyiUUAL {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-v1ZCyiUUAL .row {
  flex-direction: row-reverse;
}
.cid-v1ZCyiUUAL img {
  display: inline;
}
.cid-v1ZCyiUUAL .si {
  width: 100%;
}
.cid-v1ZCyiUUAL .si img {
  width: auto;
}
.cid-v1ZCyiUUAL .text {
  color: #ffffff;
}
.cid-v1ZCyiUUAL .text,
.cid-v1ZCyiUUAL .si {
  color: #ffffff;
  text-align: center;
}
.cid-v1ZCyiUUAL .copyright {
  color: #000000;
}
.cid-v1ZCyiUUAL .list {
  letter-spacing: .2em;
  list-style: none;
  padding-left: 0;
  color: #edefeb;
}
@media (max-width: 991px) {
  .cid-v1ZCyiUUAL .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-v1ZCyiUUAL .list {
    margin-bottom: 0rem;
  }
}
.cid-v1ZCyiUUAL .list li {
  margin-bottom: .5rem;
}
.cid-v1ZCyiUUAL .mbr-section-title {
  color: #ffffff;
}
@media (max-width: 758px) {
  .cid-v1ZCyiUUAL .logo {
    margin-top: 2rem;
  }
}
.cid-v1ZCyiUUAL .mbr-section-subtitle {
  color: #ffffff;
}
.cid-veTKB1LaWp .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 992px) {
  .cid-veTKB1LaWp .navbar-brand {
    width: fit-content;
    margin: auto !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .cid-veTKB1LaWp .wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
.cid-veTKB1LaWp .navbar.navbar-short .navbar-brand {
  padding: 1rem !important;
}
.cid-veTKB1LaWp .navbar-logo {
  margin: 0 !important;
}
.cid-veTKB1LaWp .navbar-brand {
  background-color: #232323;
  display: flex;
  margin-bottom: -3rem;
  transform: scale(1.2);
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-veTKB1LaWp .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-veTKB1LaWp .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-veTKB1LaWp .wrapper {
  display: flex;
  align-items: center;
  min-width: 43.5%;
  justify-content: flex-end;
}
.cid-veTKB1LaWp .navbar-nav {
  min-width: 45%;
}
.cid-veTKB1LaWp .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-veTKB1LaWp .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-veTKB1LaWp .dropdown-item {
  color: #a6a99c !important;
}
.cid-veTKB1LaWp .dropdown-item:hover {
  color: #a6a99c !important;
}
.cid-veTKB1LaWp .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-veTKB1LaWp .nav-link:hover {
  color: #232323 !important;
}
.cid-veTKB1LaWp .nav-link:hover:before {
  opacity: 1;
}
.cid-veTKB1LaWp .nav-link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 12px;
  transition: all 0.3s;
  opacity: 0;
  background: #232323;
}
.cid-veTKB1LaWp .btn-white {
  color: #000000 !important;
}
.cid-veTKB1LaWp .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-veTKB1LaWp .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-veTKB1LaWp .container {
  display: flex;
  margin: auto;
}
.cid-veTKB1LaWp .navbar.opened {
  background: #ffffff !important;
}
.cid-veTKB1LaWp .nav-item:focus,
.cid-veTKB1LaWp .nav-link:focus {
  outline: none;
}
.cid-veTKB1LaWp .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-veTKB1LaWp .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-veTKB1LaWp .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-veTKB1LaWp .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-veTKB1LaWp .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-veTKB1LaWp .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-veTKB1LaWp .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-veTKB1LaWp .navbar.opened {
  transition: all 0.3s;
}
.cid-veTKB1LaWp .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-veTKB1LaWp .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-veTKB1LaWp .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-veTKB1LaWp .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-veTKB1LaWp .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-veTKB1LaWp .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-veTKB1LaWp .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-veTKB1LaWp .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-veTKB1LaWp .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-veTKB1LaWp .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-veTKB1LaWp .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-veTKB1LaWp .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-veTKB1LaWp .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-veTKB1LaWp .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-veTKB1LaWp .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-veTKB1LaWp .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-veTKB1LaWp .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-veTKB1LaWp .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-veTKB1LaWp .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-veTKB1LaWp .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-veTKB1LaWp .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-veTKB1LaWp .navbar .icons-menu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-veTKB1LaWp .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-veTKB1LaWp .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-veTKB1LaWp .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-veTKB1LaWp .dropdown-item.active,
.cid-veTKB1LaWp .dropdown-item:active {
  background-color: transparent;
}
.cid-veTKB1LaWp .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-veTKB1LaWp .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-veTKB1LaWp .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-veTKB1LaWp .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-veTKB1LaWp .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-veTKB1LaWp .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-veTKB1LaWp ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-veTKB1LaWp .navbar-buttons {
  text-align: center;
}
.cid-veTKB1LaWp button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-veTKB1LaWp button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-veTKB1LaWp button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-veTKB1LaWp button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-veTKB1LaWp button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-veTKB1LaWp button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-veTKB1LaWp nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-veTKB1LaWp nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-veTKB1LaWp nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-veTKB1LaWp nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-veTKB1LaWp .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-veTKB1LaWp a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-veTKB1LaWp .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-veTKB1LaWp .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-veTKB1LaWp .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-veTKB1LaWp .navbar {
    height: 77px;
  }
  .cid-veTKB1LaWp .navbar.opened {
    height: auto;
  }
  .cid-veTKB1LaWp .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-veTKB2irSq {
  padding-top: 12rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/hd-machinery-enhance.png-1536x1024.png");
  overflow: hidden;
}
.cid-veTKB2irSq .mbr-fallback-image.disabled {
  display: none;
}
.cid-veTKB2irSq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-veTKB2irSq .gradient-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #000000 -40%, transparent 50%, transparent 50%, #000000 100%);
}
.cid-veTKB2irSq .title-wrapper {
  position: relative;
  z-index: 1;
}
.cid-veTKB2irSq .title-wrapper .mbr-section-title {
  margin-bottom: 25px;
}
.cid-veTKB2irSq .title-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-veTKB2irSq .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-veTKB2irSq .title-wrapper .mbr-section-btn {
  margin-top: 15px;
}
.cid-veTKB2irSq .mbr-section-title {
  color: #ffffff;
}
.cid-veTKB2irSq .mbr-text,
.cid-veTKB2irSq .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-veTKB2irSq .mbr-section-btn,
.cid-veTKB2irSq .mbr-section-title {
  text-align: center;
}
.cid-veTKB2MZBb {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-veTKB2MZBb .row {
  flex-direction: row-reverse;
}
.cid-veTKB2MZBb img {
  display: inline;
}
.cid-veTKB2MZBb .si {
  width: 100%;
}
.cid-veTKB2MZBb .si img {
  width: auto;
}
.cid-veTKB2MZBb .text {
  color: #ffffff;
}
.cid-veTKB2MZBb .text,
.cid-veTKB2MZBb .si {
  color: #ffffff;
  text-align: center;
}
.cid-veTKB2MZBb .copyright {
  color: #000000;
}
.cid-veTKB2MZBb .list {
  letter-spacing: .2em;
  list-style: none;
  padding-left: 0;
  color: #edefeb;
}
@media (max-width: 991px) {
  .cid-veTKB2MZBb .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-veTKB2MZBb .list {
    margin-bottom: 0rem;
  }
}
.cid-veTKB2MZBb .list li {
  margin-bottom: .5rem;
}
.cid-veTKB2MZBb .mbr-section-title {
  color: #ffffff;
}
@media (max-width: 758px) {
  .cid-veTKB2MZBb .logo {
    margin-top: 2rem;
  }
}
.cid-veTKB2MZBb .mbr-section-subtitle {
  color: #ffffff;
}
